$gris-claire: #C1BEBE;
$gris-sombre: #555555;
$faux-blanc:#EEEDED;
$gris-semi-claire: #727272;
$jaune-clair: #ffff00;
$jaune-sombre: #88882C;
$gris-btn: #808080;

::-webkit-scrollbar {
    display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
input {
    margin: 0;
}

@font-face {
    font-family: "corps";
    src: url("/fonts/Minecraft.ttf");
}

@font-face {
    font-family: "titre";
    src: url("/fonts/minecrafter-alt.ttf");
}

html {
    font-size: 14px;
    cursor: none;
}

body {
    overflow-x: hidden;

    #sound {
        display: none;
    }
}

a {
    text-decoration: none;
    color: white;
}


#index {
    width: 100vw;
    height: 100vh;
    background-image: url("images/Minecraft-Caves-Cliffs.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #6DB645;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #6DB645;
    }

    @keyframes beeMove {
        0% {
            top: 50%;
            right: 0%;
            opacity: 1;
        }

        10% {
            top: 25%;
        }

        20% {
            top: 50%;
        }

        30% {
            top: 25%;
        }

        40% {
            top: 50%;
        }

        50% {
            top: 25%;
            right: 115%;
        }

        60% {
            top: 50%;
        }

        70% {
            top: 25%;
        }

        80% {
            top: 50%;
        }

        90% {
            top: 25%;
        }

        100% {
            top: 45%;
            right: 0%;
            transform: rotateY(180deg);
            opacity: 1;
        }
    }

    #bee {
        width: 8rem;
        height: auto;
        position: absolute;
        right: 0%;
        top: 45%;
        opacity: 0;
        z-index: 999;
    }

    .bee-active {
        animation: beeMove 12000ms ease-in-out;
    }

    #bee-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .bee-succes-active {
        transform: translateX(0) !important;
    }

    #quit-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .quit-succes-active {
        transform: translateX(0) !important;
    }

    #titre {
        width: 64rem;
        padding: 35px 0px 35px 0px;
        position: relative;
        transform: rotateX(45deg) perspective(800px);

        #titre-devant {
            font-size: 5.5rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            width: auto;
            text-align: center;
            color: $gris-claire;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            z-index: 1;
        }

        #titre-derriere {
            position: absolute;
            top: 50px;
            font-size: 5.5rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            width: 100%;
            text-align: center;
            color: $gris-sombre;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            z-index: -1;
        }

        #sous-titre-devant {
            position: absolute;
            top: 59px;
            font-size: 2.3rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            transform: translateX(-50%);
            left: 50%;
            width: auto;
            color: $faux-blanc;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            z-index: 3;
        }

        #sous-titre-derriere {
            position: absolute;
            top: 66px;
            font-size: 2.3rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            transform: translateX(-50%);
            left: 50%;
            width: auto;
            color: $gris-sombre;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
            z-index: 2;
        }

        #nom {

            @keyframes nom {
                0% {
                    transform: scale(0.8) rotateZ(-16deg);
                }

                100% {
                    transform: scale(1) rotateZ(-16deg);
                }
            }

            width: auto;
            height: auto;
            position: absolute;
            right: -6%;
            top: 30%;
            display: flex;
            animation: nom 1000ms alternate infinite ease-in-out both;

            #nom-devant {
                font-size: 2.5rem;
                font-family: "corps", Arial, Helvetica, sans-serif;
                width: auto;
                color: $jaune-clair;
                z-index: 5;
                transform: rotateX(0deg) perspective(0px);
            }

            #nom-derriere {
                position: absolute;
                top: 4px;
                left: 0px;
                font-size: 2.5rem;
                font-family: "corps", Arial, Helvetica, sans-serif;
                width: auto;
                color: $jaune-sombre;
                z-index: 4;
                transform: rotateX(0deg) perspective(0px);
            }
        }
    }

    #btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5vw;
        height: 44vh;

        .fond {
            position: relative;
            transition: 200ms ease-in-out;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0px;
                top: 0px;
                mix-blend-mode: overlay;
            }
        }
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    a:hover {
        cursor: none;

        .fond {
            transform: scale(1.01);
        }
    }

    .main-btn {
        width: 35rem;
    }

    #sous-btn {
        display: flex;
        margin-top: 10vh;

        #centre {
            width: 35rem;
            display: flex;
            justify-content: space-between;

            a {
                width: 49.25%;

                .fond {
                    width: 100%;

                    .centre-btn {
                        width: 100%;
                    }
                }
            }


        }

        #gauche {
            margin-right: 8px;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 1.5rem;
                color: white;
            }
        }

        #droite {
            margin-left: 8px;
            width: 3rem;

            i {
                font-size: 1.5rem;
                color: white;
            }
        }
    }

    #info {
        bottom: 0%;
        position: absolute;
        display: flex;
        width: 95vw;
        justify-content: space-between;
        color: white;

        p {
            font-family: "corps", Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
        }
    }
}

#sommaire {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .block-monde {

            &:hover {
                border: 3px solid $gris-semi-claire;
            }

            width: 35%;
            height: 15vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: "corps",
            Arial,
            Helvetica,
            sans-serif;
            border: 3px solid transparent;

            h2 {
                color: $faux-blanc;
                letter-spacing: 2px;
                margin-left: 10px;
            }

            h3 {
                color: $gris-semi-claire;
                letter-spacing: 2px;
                margin-left: 10px;
            }

            .img {
                height: 100%;
                display: flex;
                position: relative;

                .play {
                    position: absolute;
                    height: 50%;
                    right: 20%;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;

                    img {
                        height: 100%;
                        width: auto;
                        z-index: 999;
                    }

                    .play2 {
                        position: absolute;
                        top: 1px;
                        right: 2px;
                        z-index: -6;
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                }

                #bat {
                    position: relative;
                    transition: 3000ms ease-in-out;
                }

                .bat-active {
                    transform: translate(-250px, -250px);
                    opacity: 0;
                }
            }
        }

        .block-monde:hover .img .play {
            opacity: 1;
        }
    }

    #bat-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .bat-succes-active {
        transform: translateX(0) !important;
    }

    #end-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .end-succes-active {
        transform: translateX(0) !important;
    }
}

#remerciement-page {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #enchant-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .enchant-succes-active {
        transform: translateX(0) !important;
    }

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #merci {
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }

    #titre-merci {
        position: relative;

        @keyframes enchant {
            0% {
                color: rgb(155, 67, 155);
                opacity: 0.8;
            }

            20% {
                color: rgb(233, 198, 233);
            }

            40% {
                color: rgb(83, 26, 97);
            }

            60% {
                color: rgb(87, 46, 163);
            }

            80% {
                color: rgb(92, 108, 197);
            }

            100% {
                color: rgb(46, 141, 165);
                opacity: 0.8;
            }
        }

        #merci-devant {
            font-size: 5rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            width: auto;
            color: $gris-claire;
            z-index: 5;
            margin: 0;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
        }

        .merci-active {
            animation: enchant 5000ms ease-in-out alternate infinite;
        }

        #merci-derriere {
            position: absolute;
            top: 4px;
            left: 0px;
            font-size: 5rem;
            font-family: "titre", Arial, Helvetica, sans-serif;
            width: auto;
            color: $gris-sombre;
            z-index: -1;
            margin: 0;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: black;
        }
    }
}

#succes {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
            color: $faux-blanc;
            font-family: "corps", Arial, Helvetica, sans-serif;
            letter-spacing: 2px;
            font-size: 1.2rem;
            text-align: center;
        }

        #succes-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 5px;
        }

        #reset {
            font-family: "corps", Arial, Helvetica, sans-serif;
            border-bottom: 1px solid white;
        }
    }

    #succes-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .succes-succes-active {
        transform: translateX(0) !important;
    }

    #succesucces {
        opacity: 0;
        transition: 300ms ease-in-out;
    }
}

#intro {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        letter-spacing: 2px;

        p {
            width: 50%;
            text-align: center;
        }

        #logo {
            width: 50%;
            display: flex;
            justify-content: center;
            margin-top: 25px;

            img {
                height: 15vh;
                width: auto;
            }
        }

        #tombe-surprise {
            position: absolute;
            bottom: 0;
            right: 10vh;
            height: 25vh;
            width: 25vh;
            display: flex;
            justify-content: center;
            z-index: 998;
        }

        #tombe {
            position: absolute;
            bottom: 0;
            height: 5vh;
            width: auto;
            transition: 500ms ease-in-out;
        }

        .tombe-active {
            opacity: 0;
        }

        @keyframes ghast {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(25%);
            }
        }

        #ghast {
            position: absolute;
            bottom: 0;
            height: 15vh;
            width: auto;
            top: 0;
            transition: 300ms ease-in-out;
            opacity: 0;
            animation: ghast 4000ms ease-in-out both alternate infinite;
        }

        #totem {
            position: absolute;
            bottom: 0;
            height: 15vh;
            width: auto;
            top: 0;
            opacity: 0;
            transition: 300ms ease-in-out;
        }
    }

    #tombe-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .tombe-succes-active {
        transform: translateX(0) !important;
    }
}

#entreprise {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        letter-spacing: 2px;

        p {
            width: 50%;
            text-align: center;
        }

        #logo {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin-top: 25px;

            img {
                height: 15vh;
                width: auto;
            }
        }
    }

    #btn-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .btn-succes-active {
        transform: translateX(0) !important;
    }
}

#experience-page {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #reverse-succes {
        position: absolute;
        top: 4%;
        z-index: 999;
        right: 2%;
        transition: 1000ms ease-in-out;
        transform: translateX(110%);
    }

    .reverse-succes-active {
        transform: translateX(0) !important;
    }

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .title {
            color: white;
            font-family: "corps", Arial, Helvetica, sans-serif;
            width: 60%;
            font-size: 1.4rem;
            text-align: left;
        }

        #prev-next {
            color: white;
            font-family: "corps", Arial, Helvetica, sans-serif;
            width: 60%;
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;
        }

        #reverseBtn {
            width: 5%;
            position: absolute;
            bottom: 0;
        }
    }

    .experience {
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }

    ul {
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        width: 60%;
        font-size: 1.2rem;
        text-align: left;
    }
}

#annexe {
    width: 100vw;
    height: 100vh;
    background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    #cursor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #C28340;
        border-radius: 100%;
        pointer-events: none;
        z-index: 999;
        box-shadow: 0px 0px 8px #C28340;
    }

    .btn {
        background-color: $gris-btn;
        font-family: "corps", Arial, Helvetica, sans-serif;
        color: white;
        height: 3rem;
        font-size: 1.5rem;
        border-top: 2px solid $gris-claire;
        border-left: 2px solid $gris-claire;
        border-bottom: 2px solid $gris-sombre;
        border-right: 2px solid $gris-sombre;
        text-shadow: 3px 3px 0px $gris-sombre;
    }

    .fond {
        position: absolute;
        width: 15vw;
        height: 7vh;
        bottom: 6vh;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: overlay;
        }
    }

    .fond:hover {
        transform: scale(1.03);
        transition: 200ms ease-in-out;
    }

    .claire {
        width: 100%;
        background-color: white;
        mix-blend-mode: overlay;
    }

    #claire-haut {
        height: 10vh;
    }

    #claire-bas {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .abs-btn {
        width: 15vw;
        height: 7vh;
    }

    #milieux {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: "corps", Arial, Helvetica, sans-serif;
        letter-spacing: 2px;

        img {
            height: 80%;
            width: auto;
        }
    }
}