::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
input {
  margin: 0;
}

@font-face {
  font-family: "corps";
  src: url("/fonts/Minecraft.ttf");
}

@font-face {
  font-family: "titre";
  src: url("/fonts/minecrafter-alt.ttf");
}

html {
  font-size: 14px;
  cursor: none;
}

body {
  overflow-x: hidden;
}

body #sound {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#index {
  width: 100vw;
  height: 100vh;
  background-image: url("images/Minecraft-Caves-Cliffs.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #6DB645;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #6DB645;
          box-shadow: 0px 0px 8px #6DB645;
}

@-webkit-keyframes beeMove {
  0% {
    top: 50%;
    right: 0%;
    opacity: 1;
  }
  10% {
    top: 25%;
  }
  20% {
    top: 50%;
  }
  30% {
    top: 25%;
  }
  40% {
    top: 50%;
  }
  50% {
    top: 25%;
    right: 115%;
  }
  60% {
    top: 50%;
  }
  70% {
    top: 25%;
  }
  80% {
    top: 50%;
  }
  90% {
    top: 25%;
  }
  100% {
    top: 45%;
    right: 0%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes beeMove {
  0% {
    top: 50%;
    right: 0%;
    opacity: 1;
  }
  10% {
    top: 25%;
  }
  20% {
    top: 50%;
  }
  30% {
    top: 25%;
  }
  40% {
    top: 50%;
  }
  50% {
    top: 25%;
    right: 115%;
  }
  60% {
    top: 50%;
  }
  70% {
    top: 25%;
  }
  80% {
    top: 50%;
  }
  90% {
    top: 25%;
  }
  100% {
    top: 45%;
    right: 0%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 1;
  }
}

#index #bee {
  width: 8rem;
  height: auto;
  position: absolute;
  right: 0%;
  top: 45%;
  opacity: 0;
  z-index: 999;
}

#index .bee-active {
  -webkit-animation: beeMove 12000ms ease-in-out;
          animation: beeMove 12000ms ease-in-out;
}

#index #bee-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#index .bee-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#index #quit-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#index .quit-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#index #titre {
  width: 64rem;
  padding: 35px 0px 35px 0px;
  position: relative;
  -webkit-transform: rotateX(45deg) perspective(800px);
          transform: rotateX(45deg) perspective(800px);
}

#index #titre #titre-devant {
  font-size: 5.5rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  width: auto;
  text-align: center;
  color: #C1BEBE;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  z-index: 1;
}

#index #titre #titre-derriere {
  position: absolute;
  top: 50px;
  font-size: 5.5rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: #555555;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  z-index: -1;
}

#index #titre #sous-titre-devant {
  position: absolute;
  top: 59px;
  font-size: 2.3rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: auto;
  color: #EEEDED;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  z-index: 3;
}

#index #titre #sous-titre-derriere {
  position: absolute;
  top: 66px;
  font-size: 2.3rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: auto;
  color: #555555;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  z-index: 2;
}

#index #titre #nom {
  width: auto;
  height: auto;
  position: absolute;
  right: -6%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: nom 1000ms alternate infinite ease-in-out both;
          animation: nom 1000ms alternate infinite ease-in-out both;
}

@-webkit-keyframes nom {
  0% {
    -webkit-transform: scale(0.8) rotateZ(-16deg);
            transform: scale(0.8) rotateZ(-16deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(-16deg);
            transform: scale(1) rotateZ(-16deg);
  }
}

@keyframes nom {
  0% {
    -webkit-transform: scale(0.8) rotateZ(-16deg);
            transform: scale(0.8) rotateZ(-16deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(-16deg);
            transform: scale(1) rotateZ(-16deg);
  }
}

#index #titre #nom #nom-devant {
  font-size: 2.5rem;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: auto;
  color: #ffff00;
  z-index: 5;
  -webkit-transform: rotateX(0deg) perspective(0px);
          transform: rotateX(0deg) perspective(0px);
}

#index #titre #nom #nom-derriere {
  position: absolute;
  top: 4px;
  left: 0px;
  font-size: 2.5rem;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: auto;
  color: #88882C;
  z-index: 4;
  -webkit-transform: rotateX(0deg) perspective(0px);
          transform: rotateX(0deg) perspective(0px);
}

#index #btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5vw;
  height: 44vh;
}

#index #btn-box .fond {
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#index #btn-box .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0px;
  top: 0px;
  mix-blend-mode: overlay;
}

#index .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#index a:hover {
  cursor: none;
}

#index a:hover .fond {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#index .main-btn {
  width: 35rem;
}

#index #sous-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}

#index #sous-btn #centre {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#index #sous-btn #centre a {
  width: 49.25%;
}

#index #sous-btn #centre a .fond {
  width: 100%;
}

#index #sous-btn #centre a .fond .centre-btn {
  width: 100%;
}

#index #sous-btn #gauche {
  margin-right: 8px;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #sous-btn #gauche i {
  font-size: 1.5rem;
  color: white;
}

#index #sous-btn #droite {
  margin-left: 8px;
  width: 3rem;
}

#index #sous-btn #droite i {
  font-size: 1.5rem;
  color: white;
}

#index #info {
  bottom: 0%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

#index #info p {
  font-family: "corps", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

#sommaire {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sommaire #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#sommaire .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#sommaire .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sommaire .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#sommaire .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#sommaire .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#sommaire #claire-haut {
  height: 10vh;
}

#sommaire #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#sommaire .abs-btn {
  width: 15vw;
  height: 7vh;
}

#sommaire #milieux {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sommaire #milieux .block-monde {
  width: 35%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "corps", Arial, Helvetica, sans-serif;
  border: 3px solid transparent;
}

#sommaire #milieux .block-monde:hover {
  border: 3px solid #727272;
}

#sommaire #milieux .block-monde h2 {
  color: #EEEDED;
  letter-spacing: 2px;
  margin-left: 10px;
}

#sommaire #milieux .block-monde h3 {
  color: #727272;
  letter-spacing: 2px;
  margin-left: 10px;
}

#sommaire #milieux .block-monde .img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#sommaire #milieux .block-monde .img .play {
  position: absolute;
  height: 50%;
  right: 20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

#sommaire #milieux .block-monde .img .play img {
  height: 100%;
  width: auto;
  z-index: 999;
}

#sommaire #milieux .block-monde .img .play .play2 {
  position: absolute;
  top: 1px;
  right: 2px;
  z-index: -6;
}

#sommaire #milieux .block-monde .img img {
  height: 100%;
  width: auto;
}

#sommaire #milieux .block-monde .img #bat {
  position: relative;
  -webkit-transition: 3000ms ease-in-out;
  transition: 3000ms ease-in-out;
}

#sommaire #milieux .block-monde .img .bat-active {
  -webkit-transform: translate(-250px, -250px);
          transform: translate(-250px, -250px);
  opacity: 0;
}

#sommaire #milieux .block-monde:hover .img .play {
  opacity: 1;
}

#sommaire #bat-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#sommaire .bat-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#remerciement-page {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#remerciement-page #enchant-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#remerciement-page .enchant-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#remerciement-page #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#remerciement-page .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#remerciement-page .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#remerciement-page .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#remerciement-page .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#remerciement-page .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#remerciement-page #claire-haut {
  height: 10vh;
}

#remerciement-page #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#remerciement-page .abs-btn {
  width: 15vw;
  height: 7vh;
}

#remerciement-page #milieux {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#remerciement-page #merci {
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
}

#remerciement-page #titre-merci {
  position: relative;
}

@-webkit-keyframes enchant {
  0% {
    color: #9b439b;
    opacity: 0.8;
  }
  20% {
    color: #e9c6e9;
  }
  40% {
    color: #531a61;
  }
  60% {
    color: #572ea3;
  }
  80% {
    color: #5c6cc5;
  }
  100% {
    color: #2e8da5;
    opacity: 0.8;
  }
}

@keyframes enchant {
  0% {
    color: #9b439b;
    opacity: 0.8;
  }
  20% {
    color: #e9c6e9;
  }
  40% {
    color: #531a61;
  }
  60% {
    color: #572ea3;
  }
  80% {
    color: #5c6cc5;
  }
  100% {
    color: #2e8da5;
    opacity: 0.8;
  }
}

#remerciement-page #titre-merci #merci-devant {
  font-size: 5rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  width: auto;
  color: #C1BEBE;
  z-index: 5;
  margin: 0;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

#remerciement-page #titre-merci .merci-active {
  -webkit-animation: enchant 5000ms ease-in-out alternate infinite;
          animation: enchant 5000ms ease-in-out alternate infinite;
}

#remerciement-page #titre-merci #merci-derriere {
  position: absolute;
  top: 4px;
  left: 0px;
  font-size: 5rem;
  font-family: "titre", Arial, Helvetica, sans-serif;
  width: auto;
  color: #555555;
  z-index: -1;
  margin: 0;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}

#succes {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#succes #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#succes .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#succes .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#succes .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#succes .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#succes .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#succes #claire-haut {
  height: 10vh;
}

#succes #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#succes .abs-btn {
  width: 15vw;
  height: 7vh;
}

#succes #milieux {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#succes #milieux p {
  color: #EEEDED;
  font-family: "corps", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: center;
}

#succes #milieux #succes-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5px;
}

#succes #milieux #reset {
  font-family: "corps", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid white;
}

#succes #succes-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#succes .succes-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#succes #succesucces {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#intro {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#intro .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#intro .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#intro .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#intro .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#intro #claire-haut {
  height: 10vh;
}

#intro #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#intro .abs-btn {
  width: 15vw;
  height: 7vh;
}

#intro #milieux {
  position: relative;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

#intro #milieux p {
  width: 50%;
  text-align: center;
}

#intro #milieux #logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

#intro #milieux #logo img {
  height: 15vh;
  width: auto;
}

#intro #milieux #tombe-surprise {
  position: absolute;
  bottom: 0;
  right: 10vh;
  height: 25vh;
  width: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 998;
}

#intro #milieux #tombe {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: auto;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

#intro #milieux .tombe-active {
  opacity: 0;
}

@-webkit-keyframes ghast {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@keyframes ghast {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

#intro #milieux #ghast {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: auto;
  top: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
  -webkit-animation: ghast 4000ms ease-in-out both alternate infinite;
          animation: ghast 4000ms ease-in-out both alternate infinite;
}

#intro #milieux #totem {
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: auto;
  top: 0;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#intro #tombe-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#intro .tombe-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#entreprise {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#entreprise #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#entreprise .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#entreprise .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#entreprise .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#entreprise .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#entreprise .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#entreprise #claire-haut {
  height: 10vh;
}

#entreprise #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#entreprise .abs-btn {
  width: 15vw;
  height: 7vh;
}

#entreprise #milieux {
  position: relative;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

#entreprise #milieux p {
  width: 50%;
  text-align: center;
}

#entreprise #milieux #logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

#entreprise #milieux #logo img {
  height: 15vh;
  width: auto;
}

#entreprise #btn-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#entreprise .btn-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#experience-page {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#experience-page #reverse-succes {
  position: absolute;
  top: 4%;
  z-index: 999;
  right: 2%;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

#experience-page .reverse-succes-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#experience-page #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#experience-page .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#experience-page .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#experience-page .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#experience-page .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#experience-page .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#experience-page #claire-haut {
  height: 10vh;
}

#experience-page #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#experience-page .abs-btn {
  width: 15vw;
  height: 7vh;
}

#experience-page #milieux {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#experience-page #milieux .title {
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 1.4rem;
  text-align: left;
}

#experience-page #milieux #prev-next {
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#experience-page #milieux #reverseBtn {
  width: 5%;
  position: absolute;
  bottom: 0;
}

#experience-page .experience {
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
}

#experience-page ul {
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 1.2rem;
  text-align: left;
}

#annexe {
  width: 100vw;
  height: 100vh;
  background-image: url("images/d3l1qoj-f1b1c676-9602-4c65-bd7d-ea518fbc8b88.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#annexe #cursor {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #C28340;
  border-radius: 100%;
  pointer-events: none;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px #C28340;
          box-shadow: 0px 0px 8px #C28340;
}

#annexe .btn {
  background-color: #808080;
  font-family: "corps", Arial, Helvetica, sans-serif;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  border-top: 2px solid #C1BEBE;
  border-left: 2px solid #C1BEBE;
  border-bottom: 2px solid #555555;
  border-right: 2px solid #555555;
  text-shadow: 3px 3px 0px #555555;
}

#annexe .fond {
  position: absolute;
  width: 15vw;
  height: 7vh;
  bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#annexe .fond img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: overlay;
}

#annexe .fond:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#annexe .claire {
  width: 100%;
  background-color: white;
  mix-blend-mode: overlay;
}

#annexe #claire-haut {
  height: 10vh;
}

#annexe #claire-bas {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#annexe .abs-btn {
  width: 15vw;
  height: 7vh;
}

#annexe #milieux {
  position: relative;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "corps", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

#annexe #milieux img {
  height: 80%;
  width: auto;
}
/*# sourceMappingURL=style.css.map */